@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --primary: #ffd700;
  --primary_dark: #ffc700;
  --secondary: #c0c0c0;
  --secondary_dark: #b4b4b4;
  --text_main: #0f0f0f;
  --text_secondary: #eeeeee;
  --text_placeholder: #444444;
}

.eclipse {
  --background: #0f0f0f;
  --primary: #ffd700;
  --primary_dark: #ffc700;
  --secondary: #c0c0c0;
  --secondary_dark: #b4b4b4;
  --text_main: #0f0f0f;
  --text_secondary: #eeeeee;
  --text_placeholder: #444444;
}

.flames {
  --background: #eeeeee;
  --primary: #e18103;
  --primary_dark: #cd7606;
  --secondary: #fac348;
  --secondary_dark: #ebb133;
  --text_main: #0f0f0f;
  --text_secondary: #0f0f0f;
  --text_placeholder: #3f3f3f;
}

.earth {
  --background: #f6fcdf;
  --primary: #859f3d;
  --primary_dark: #7c9439;
  --secondary: #31511e;
  --secondary_dark: #2b4919;
  --text_main: #eeeeee;
  --text_secondary: #0f0f0f;
  --text_placeholder: #3f3f3f;
}

.aurora {
  --background: #fff7f3;
  --primary: #c599b6;
  --primary_dark: #c58bb1;
  --secondary: #e6b2ba;
  --secondary_dark: #e3acb4;
  --text_main: #0f0f0f;
  --text_secondary: #0f0f0f;
  --text_placeholder: #3f3f3f;
}

.dune {
  --background: #f1efec;
  --primary: #123458;
  --primary_dark: #0f3053;
  --secondary: #ad9c8a;
  --secondary_dark: #a4927f;
  --text_main: #eeeeee;
  --text_secondary: #0f0f0f;
  --text_placeholder: #b8b8b8;
}

.seafoam {
  --background: #a2d0ec;
  --primary: #3e9334;
  --primary_dark: #398d2f;
  --secondary: #8852d8;
  --secondary_dark: #814dd0;
  --text_main: #eeeeee;
  --text_secondary: #0f0f0f;
  --text_placeholder: #b8b8b8;
}

.plum {
  --background: #53354a;
  --primary: #e84545;
  --primary_dark: #dc3a3a;
  --secondary: #c06c84;
  --secondary_dark: #b46078;
  --text_main: #eeeeee;
  --text_secondary: #eeeeee;
  --text_placeholder: #b8b8b8;
}

.cosmos {
  --background: #112d4e;
  --primary: #dbe2ef;
  --primary_dark: #ced7e7;
  --secondary: #3f72af;
  --secondary_dark: #3769a7;
  --text_main: #0f0f0f;
  --text_secondary: #eeeeee;
  --text_placeholder: #444444;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary_dark: var(--primary_dark);
  --color-secondary_dark: var(--secondary_dark);
  --color-text_main: var(--text_main);
  --color-text_secondary: var(--text_secondary);
  --color-text_placeholder: var(--text_placeholder);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  transition: background-color 0.8s ease-in-out, color 5s ease-in-out;
  font-family: Arial, Helvetica, sans-serif; 
}

* {
  scrollbar-color: var(--primary) var(--background);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 20px;
  border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-wrapper *:focus {
  outline: none !important;
}