@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #FFC700 var(--background);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 20px;
  border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffd700;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-wrapper *:focus {
  outline: none !important;
}